<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>
    <bean id="dbOper" class="top.yeaho.db.DBOper" autowire="no"/>
     
    
    <!-- Dao层实现类注册 -->		
    <bean id="AdminDaoImpl" class="top.yeaho.dao.AdminDaoImpl" >
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
	<bean id="SchoolDaoImpl" class="top.yeaho.dao.SchoolDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="treeDao" class="top.yeaho.dao.TreeDao">
		<property name="dbOper" ref="dbOper"></property>
	</bean>
	
	<!-- Service层实现类注册 -->
	<bean id="SchoolServiceImpl" class="top.yeaho.service.SchoolServiceImpl" >
		<property name="schoolDaoImpl" ref="SchoolDaoImpl"></property>
	</bean>
	<bean id="AdminServiceImpl" class="top.yeaho.service.AdminServiceImpl" >
		<property name="adminDaoImpl" ref="AdminDaoImpl"></property>
	</bean>
	<bean id="treeService" class="top.yeaho.service.TreeService">
		<property name="treeDao" ref="treeDao"></property>
	</bean>
	
	
	<!-- Entities实体类注册 -->
	<bean id="Admin" class="top.yeaho.entities.Admin" ></bean>
	<bean id="Course" class="top.yeaho.entities.Course" ></bean>
	<bean id="Teacher" class="top.yeaho.entities.Teacher" ></bean>
	<bean id="StudentCourseTeacherPlan" class="top.yeaho.entities.StudentCourseTeacherPlan" ></bean>
	<bean id="School" class="top.yeaho.entities.School" ></bean>
	<bean id="Student" class="top.yeaho.entities.Student" ></bean>
	<bean id="Module" class="top.yeaho.entities.Module" ></bean>
	<bean id="SchoolClass" class="top.yeaho.entities.SchoolClass" ></bean>
	

	<!-- Action注册 -->
	<bean id="AdminAction" class="top.yeaho.action.AdminAction" >
		<property name="adminServiceImpl" ref="AdminServiceImpl"></property>
		<property name="admin" ref="Admin"></property>	 
		<property name="course" ref="Course"></property>
		<property name="module" ref="Module"></property>
		<property name="student" ref="Student"></property>
	</bean>
	<bean id="IndexAction" class="top.yeaho.action.IndexAction"></bean>
	<bean id="SchoolAction" class="top.yeaho.action.SchoolAction"></bean>
	<bean id="treeAction" class="top.yeaho.action.TreeAction">
		<property name="treeService" ref="treeService"></property>
	</bean>
	<bean id="uploadAction" class="top.yeaho.action.UploadAction"></bean>
	<bean id="downloadAction" class="top.yeaho.action.DownloadAction"></bean>
	
	
</beans>