<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  "/dtd/hibernate-configuration-3.0.dtd">

<!-- "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" -->
<hibernate-configuration>

	<session-factory>
		<!-- 数据库连接设置，这里使用postgreSQL数据库，注意driver_class版本 -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://114.115.203.28:5432/smartcourse</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgresADMIN</property>


		<!-- SQL dialect 方言 -->
		<!-- <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
		<property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		
		<mapping resource="top/yeaho/entities/Admin.hbm.xml" />
		<mapping resource="top/yeaho/entities/School.hbm.xml" />
		<mapping resource="top/yeaho/entities/Course.hbm.xml" />
		<mapping resource="top/yeaho/entities/Teacher.hbm.xml" />
		<mapping resource="top/yeaho/entities/Student.hbm.xml" />
		<mapping resource="top/yeaho/entities/StudentCourseTeacherPlan.hbm.xml" />
		<mapping resource="top/yeaho/entities/SchoolClass.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>

